@inject DataServiceER DataSvc
@inject HelpersService Helpers


<tr class="account-row-@(LevelInGui)">
    <td class="account-label-@(LevelInGui) text-level-@(LevelInGui)">
        @(AccountMultipleYears.AccountId) &nbsp;

        <a @onclick="OnAccountClicked" class="@(AccountMultipleYears.AccountLevel < 4 ? "account-link":"")">
            @(AccountMultipleYears.AccountName)
        </a>
    </td>

    @foreach (AccountYearViewModel m in AccountMultipleYears.YearlyAccounts)
    {
        <td class="@(GetAccCellClassValues(m, GetAccountValue(SelectedERAccountType, m)))">
            @if (AreChildrenExpanded == false)
            {
                @(Helpers.FormatDecimal(GetAccountValue(SelectedERAccountType, m)))
            }
        </td>
    }
</tr>

@if (AreChildrenExpanded && AccountMultipleYears.Children != null)
{
    foreach (var m in AccountMultipleYears.Children)
    {
        <AccountTimeline AccountMultipleYears="m"
                         LevelInGui="(LevelInGui + 1)" />
    }
}


@code {

    [Parameter]
    public int LevelInGui { get; set; }

    [Parameter]
    public AccountMultipleYearsViewModel AccountMultipleYears { get; set; }

    [CascadingParameter(Name = "SelectedStructureType")]
    string SelectedStructureType { get; set; }

    [CascadingParameter(Name = "SelectedERAccountType")]
    string SelectedERAccountType { get; set; }

    [CascadingParameter(Name = "SelectedAccountRange")]
    string SelectedAccountRange { get; set; }

    public bool AreChildrenExpanded { get; set; }


    decimal? GetAccountValue(string type, AccountYearViewModel m)
    {
        if (Enum.TryParse(type, out ERAccountType accType))
        {
            return accType switch
            {
                ERAccountType.Expenses => m.Year < DataSvc.CURRENT_YEAR ? m.ExpensesActual : m.ExpensesBudget,
                ERAccountType.Income => m.Year < DataSvc.CURRENT_YEAR ? m.IncomeActual : m.IncomeBudget,
                ERAccountType.Balances => m.Year < DataSvc.CURRENT_YEAR ? m.BalanceActual : m.BalanceBudget,
                _ => null
            };
        }
        return null;
    }

    string GetAccCellClassValues(AccountYearViewModel m, decimal? value)
    {
        string result = $"account-cell-{(m.Year < DataSvc.CURRENT_YEAR ? "actual" : "budget")}";
        result += $" text-level-{LevelInGui}";
        if (SelectedERAccountType == ERAccountType.Balances.ToString())
        {
            result += $" {(Helpers.IsPositive(value) ? "pos-value" : "neg-value")}";
        }
        return result;
    }

    async void OnAccountClicked()
    {
        if (AccountMultipleYears.AccountLevel == 4)
        {
            return;
        }
        AreChildrenExpanded = !AreChildrenExpanded;

        if (AreChildrenExpanded &&
            AccountMultipleYears.Children == null &&
            Enum.TryParse(SelectedStructureType, out StructureType selectStructureT) &&
            Enum.TryParse(SelectedERAccountType, out ERAccountType selectErAccT) &&
            Enum.TryParse(SelectedAccountRange, out AccountRange selectRange))
        {
            AccountMultipleYears.Children = await DataSvc.FetchSubGroupsOfERAccountTimeline(AccountMultipleYears, selectStructureT, selectErAccT, selectRange == AccountRange.AllAccounts);
        }
        StateHasChanged();
    }


}
