@inject DataServiceER DataSvc
@inject HelpersService Helpers

@using Projekt2.Constants;


<tr class="account-row-@(LevelInGui)">
    <td class="account-label-@(LevelInGui) text-level-@(LevelInGui) first-col">
        @(AccountYear.AccountId) &nbsp;

        <a @onclick="OnAccountClicked" class="@(HasLink() ? "account-link" : "")">
            @(AccountYear.AccountName)
        </a>
    </td>

    @if (AccountYear.Year >= Const.CurrentYear)
    {
        <td class="account-cell-budget text-level-@(LevelInGui)">
            @(AreChildrenExpanded ? "" : Helpers.FormatDecimal(AccountYear.ExpensesBudget))
        </td>
        <td class="account-cell-budget text-level-@(LevelInGui) @(Helpers.GetColorIfNegativeFav(AccountYear.PercentageChangeExpensesBudget, 0))">
            @(AreChildrenExpanded ? "" : Helpers.FormatPercentage(AccountYear.PercentageChangeExpensesBudget))
        </td>
        <td class="account-cell-budget text-level-@(LevelInGui)">
            @(AreChildrenExpanded ? "" : Helpers.FormatDecimal(AccountYear.IncomeBudget))
        </td>
        <td class="account-cell-budget text-level-@(LevelInGui) @(Helpers.GetColorIfPositiveFav(AccountYear.PercentageChangeIncomeBudget, 0))">
            @(AreChildrenExpanded ? "" : Helpers.FormatPercentage(AccountYear.PercentageChangeIncomeBudget))
        </td>
        @if (SelectedStructureType == StructureType.Functions.ToString() || SelectedStructureType == StructureType.FunctionsThenSubjects.ToString())
        {
            <td class="account-cell-budget text-level-@(LevelInGui)">
                @(AreChildrenExpanded ? "" : Helpers.FormatDecimal(AccountYear.BalanceBudget))
            </td>
            <td class="account-cell-budget text-level-@(LevelInGui) @(Helpers.GetColorIfPositiveFav(AccountYear.PercentageChangeBalanceBudget, 0))">
                @(AreChildrenExpanded ? "" : Helpers.FormatPercentage(AccountYear.PercentageChangeBalanceBudget))
            </td>
        }
    }
    else if (AccountYear.Year < Const.CurrentYear)
    {
        <td class="account-cell-actual text-level-@(LevelInGui)">
            @(AreChildrenExpanded ? "" : Helpers.FormatDecimal(AccountYear.ExpensesActual))
        </td>
        <td class="account-cell-actual text-level-@(LevelInGui) @(Helpers.GetColorIfNegativeFav(AccountYear.PercentageChangeExpensesActual, 0))">
            @(AreChildrenExpanded ? "" : Helpers.FormatPercentage(AccountYear.PercentageChangeExpensesActual))
        </td>
        <td class="account-cell-actual text-level-@(LevelInGui)">
            @(AreChildrenExpanded ? "" : Helpers.FormatDecimal(AccountYear.IncomeActual))
        </td>
        <td class="account-cell-actual text-level-@(LevelInGui) @(Helpers.GetColorIfPositiveFav(AccountYear.PercentageChangeIncomeActual, 0))">
            @(AreChildrenExpanded ? "" : Helpers.FormatPercentage(AccountYear.PercentageChangeIncomeActual))
        </td>
        @if (SelectedStructureType == StructureType.Functions.ToString() || SelectedStructureType == StructureType.FunctionsThenSubjects.ToString())
        {
            <td class="account-cell-actual text-level-@(LevelInGui)">
                @(AreChildrenExpanded ? "" : Helpers.FormatDecimal(AccountYear.BalanceActual))
            </td>
            <td class="account-cell-actual text-level-@(LevelInGui) @(Helpers.GetColorIfPositiveFav(AccountYear.PercentageChangeBalanceActual, 0))">
                @(AreChildrenExpanded ? "" : Helpers.FormatPercentage(AccountYear.PercentageChangeBalanceActual))
            </td>
        }
    }
</tr>

@if (AreChildrenExpanded && AccountYear.ChildAccounts != null)
{
    foreach (var a in AccountYear.ChildAccounts)
    {
        <AccountStatic AccountYear="a"
                       LevelInGui="(LevelInGui + 1)" />
    }
}


@code {

    [Parameter]
    public int LevelInGui { get; set; }

    [Parameter]
    public AccountYearViewModel AccountYear { get; set; }

    [CascadingParameter(Name = "SelectedStructureType")]
    string SelectedStructureType { get; set; }

    public bool AreChildrenExpanded { get; set; }

    public bool CouldNotFetchChildren { get; set; }


    /* Determines whether the account name represents a hyperlink or not */
    private bool HasLink()
    {
        if (CouldNotFetchChildren)
        {
            return false;
        }

        if (SelectedStructureType == StructureType.Functions.ToString() || SelectedStructureType == StructureType.Subjects.ToString())
        {
            return AccountYear.AccountLevel < 4;
        }
        return LevelInGui < 5;
    }


    async void OnAccountClicked()
    {
        if (HasLink())
        {
            AreChildrenExpanded = !AreChildrenExpanded;

            if (AreChildrenExpanded &&
                AccountYear.ChildAccounts == null &&
                Enum.TryParse(SelectedStructureType, out StructureType structureType))
            {
                AccountYear.ChildAccounts = await DataSvc.FetchSubGroupsForYearlyEr(AccountYear,
                                                                                          structureType);

                if (AccountYear.ChildAccounts == null || AccountYear.ChildAccounts.Count == 0)
                {
                    // Revers 'expand'-command
                    AreChildrenExpanded = false;
                    // Remove link on Account
                    CouldNotFetchChildren = true;
                }
            }
            StateHasChanged();
        }

    }


}
